*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: sans-serif; /* Noto Sans JP */
    line-height: 1.5;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3,
p{
    margin :0;
}

section{
    padding: 7em 0;
}


.container{
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.split{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;

}

.split > *{
    flex-basis:30%;
    min-width:15em;
}

.spacing > *+*{
    margin-top: var(--spacer, 2rem)
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: .5em 1.25em;
    background: var(--clr-accent, blue);
    color: var(--clr-text,white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    border-radius: .25em;
    transition: 
    transform 250ms ease-in-out,
    opacity 250ms linear;

}

.btn:hover,
.btn.focus{
    transform: scale(1.1);
    opacity: .9;

}

.primary-title{
    font-size: 4rem;
    font-size: clamp(3rem, 5vw+1rem, 4.5rem);
    line-height: 1;
    text-transform: uppercase;
}

.hero{
    text-align: center;
    color:white;
    padding: 15em 0;
    background: #222;
}

.section-title{
    text-align: center;
    font-size: clamp(2.5rem, calc(5v+1rem), 4rem);
    line-height: 1;
    color: #17347d;
    margin-bottom: 5rem;
}

.featured{

    background: #eee;
}
.featured_item{
    color: red;
    display: block;
    position: relative;
    transform: (.73);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    text-align: center;
    line-height: 1.23;

    
}

.featured_item:hover,
.featured_item:focus{
    transform: scale(1);
}

.featured_item:hover .featured_details,
.featured_item:focus .featured_details{
    opacity: 1;
    text-shadow: 0 0 1em rgba(#fff, 1);
}

.featured_item::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    padding: 100% 100% 0 0;
    border-radius: 50%;
    background: #173777;
    z-index: -1;
}

.featured_details
{
    opacity: 0;
    transtion: opacity 250ms linear;
}
span.price{
    display: block;
    font-weight: 700;
    font-size: 2.73rem;
}


@supports(background-blend-mode: multiply)
{
    .hero{
        background-image: url('../programming_logo.png'),
        radial-gradient(#777777, #333333);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}


.product{
    background: radial-gradient(var(--clr-iiner, limegreen), var(--clr-outer,purple));
    padding: 3em;
    border-radius: 1em;
    margin-bottom: 3em;
    text-align: center;

}

.product_title{
    font-size: 4rem;
    line-height: 1.1;
    color: #fff;
    text-shadow: 0 0 .2em rgba(#000, .2);
}

.hero{
    --clr-accent: #faa700;
}

.product_image{
    margin: -5em 0 0 0;
}

@media (min-width: 45em) {
    text-align: left;
}
.pro-red{
    --clr-inner:yellow;
    --clr-outer: orange;
    --clr-accent: #fffc2e;
}
.pro-white{
    --clr-inner:green;
    --clr-outer: orange;
    --clr-accent: limegreen;
}
.pro-blue{
    --clr-inner:red;
    --clr-outer: orange;
    --clr-accent: red;
}




